.about-page-container {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bolder;
	padding-bottom: 500px;
}

.about-us-header {
	font-size: 7.5rem;
	text-align: center;
}
