.navbar {
	background-color: rgba(2, 4, 25, 0.5);
	box-shadow: 0 5px 8px rgba(255, 255, 255, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
	height: 7.5vh;
	display: flex;
	align-items: center;
}

.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 2rem;
}

.nav-label-left {
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
}

.navbar-menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center; 
	gap: 5rem; 
	margin: 0; 
	padding: 0; 
}

.navbar-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	font-weight: 700;
}

.navbar-menu a {
	text-decoration: none;
	color: white;
	position: relative;
}

.navbar-menu a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: white;
	bottom: -2px;
	left: 0;
	transition: width 0.75s ease;
}

.navbar-menu a:hover::after {
	width: 100%;
}

@media (min-width: 1800px) {
}

@media (max-width: 1799px) and (min-width: 900px) {
	.navbar {
		height: 7vh;
	}
	.navbar-menu li {
		font-size: 1rem;
	}
}

@media (max-width: 899px) {
}
