//dummy scss
.streamer-section-header {
  text-align: center;
  color: #a5d8ff;
  font-size: 3em;
  font-weight: bolder;
}

.streamer-page {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.streamer-header-intro-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.streamer-main-section {
  padding-left: 0px;
  flex: 1;
  margin-left: 2%;
  margin-right: 8%;
}
.streamer-stats {
  // position: fixed;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}
