.comps-section {
	.comps-grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1vw;
		overflow: hidden;
		.star-tier {
			display: flex;
			justify-content: center;
		}
		.champion-items {
			display: flex;
			flex-direction: row;
			margin-top: 0px;
			opacity: 1;
			border-color: black;
		}
	}
}
