.match-history {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  .match-card {
    background-color: #1c1f26;
    border-radius: 10px;
    padding: 15px;
    color: #f8f8f8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

    .comp-title {
      h2 {
        margin: 0;
        font-size: 1.4rem;
      }
      padding-bottom: 10px;
    }

    .match-header {
      display: flex;
      justify-content: space-between;
      .header-info {
        align-items: center;
        .header-info-row-1,
        .header-info-row-2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1vw;
          h2 {
            margin: 0;
            font-size: 1.4rem;
          }
          .lp-number-remove-gap {
            display: flex;
            flex-direction: row;
            gap: 0.5vw;
          }

          p {
            margin: 3px 0;
            font-size: 0.9rem;
            color: #ccc;
          }
        }

        .get-time-stamp {
          font-size: 0.8rem;
          padding-bottom: none;
        }
      }
    }

    .champions-row {
      display: flex;
      align-items: center;
      gap: 10px;
      overflow-x: auto;
      padding: 10px 0;

      .champion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .champion-icon {
          width: 50px;
          height: 50px;
          border-radius: 8px;
          border: 2px solid #444;
        }

        .star-tier {
          margin-top: 5px;
          font-size: 0.9rem;
          color: #ffcc00;
        }
      }
    }
  }
}
